tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_jsonManager.cpython-39.pyc
main/__pycache__/jsonManager.cpython-39.pyc
main/__pycache__/priceCollector.cpython-39.pyc
main/__pycache__/priceProcessing.cpython-39.pyc
main/mock.py
main/__pycache__/priceProcessing.cpython-310.pyc
main/__pycache__/__init__.cpython-38.pyc
main/__pycache__/__init__.cpython-39.pyc
main/__pycache__/__init__.cpython-310.pyc
main/__pycache__/apiLinks.cpython-39.pyc
main/__pycache__/goldPricedInSilver.cpython-39.pyc
main/__pycache__/goldPricedInSilver.cpython-310.pyc
main/__pycache__/jsonManager.cpython-310.pyc
main/__pycache__/logManager.cpython-39.pyc
main/__pycache__/main.cpython-39.pyc
main/__pycache__/priceCollector.cpython-38.pyc
main/__pycache__/priceCollector.cpython-310.pyc
tests/__pycache__/diagnosticAid.cpython-39.pyc
tests/__pycache__/mockData.cpython-39.pyc
tests/__pycache__/diagnosticAid.cpython-39.pyc
tests/__pycache__/mockData.cpython-39.pyc
main/test_gathering_json.py
main/__pycache__/fileManager.cpython-310.
test.py
