commodityPrice/__pycache__/goldPriceAPI.cpython-39.pyc
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_jsonManager.cpython-39.pyc
jsonFormatter/__pycache__/jsonManager.cpython-39.pyc
jsonFormatter/__pycache__/__init__.cpython-39.pyc
commodityPrice/__pycache__/silverPriceAPI.cpython-39.pyc
dataProcessing/__pycache__/priceProcessing.cpython-39.pyc
